OPENAI_API_KEY= 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
EXA_API_KEY= 467e12ed-27b0-4cdf-9c6f-a0567ed7b0b0
PINECONE_API_KEY= pcsk_6jxMmN_Npv4kkHN6PzL1C9ckaCKt3HYzkEfK3HMHjKX61AFzG8MMsvM4pT8qyUfnnZd9Sj
PINECONE_INDEX= sellersight-reviews
